<strong><h4>Editing - {{vm.quiz.quizId}} </strong>...</h4>
 
<form  ng-submit="vm.updateQuiz(vm.quiz)" class="form-inline quiz-edit">
    <div class="form-group">
        <input  ng-model="vm.quiz.quizId" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <input ng-model="vm.quiz.quizName" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <input ng-model="vm.quiz.challenge" type="text" class="form-control">
    </div><br><br>
    <div class="form-group">
        <input ng-model="vm.quiz.startTime" type="text" class="form-control" required>
    </div>
   <!--  <div class="form-group">
        <input ng-model="vm.quiz.endTime" ng-minlength="4" ng-maxlength="4" type="number" class="form-control"  required>
    </div> -->
    <div class="form-group">
        <input ng-model="vm.quiz.endTime" type="text" class="form-control"   required>
    </div>
   <div><br>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    </div>
</form>
<br>